* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

#input {
  width: 800px;
}

.input-box {
  padding: 20px;
  height: 150px;
}

.input-box .input-value {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  height: 100%;
  border: 1px solid black;
}

.input-box .input-value strong {
  font-size: 40px;
}

.input-box .input-value .placeholder {
  font-size: 40px;
  color: #ccc;
}

.input-box .input-value button {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 15px;
}

.input-btn {
  display: flex;
  flex-wrap: wrap;
}

.input-btn li {
  width: calc(100% * 1/3);
  height: 120px;
  padding: 20px;
}

.input-btn li button {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 40px;
}

.input-btn li:nth-child(10) button,
.input-btn li:nth-child(12) button {
  font-size: 24px;
}

.show {
  visibility: visible;
}

.hide {
  display: none;
}